[2014-02-26 17:16] colin-umn opened #27 "PAGE context not set in mod/dialogue/view.php"
This error appears in the MOODLE_26_STABLE branch (at least).

Coding problem: $PAGE->context was not set. You may have forgotten to call require_login() or $PAGE->set_context(). The page may not display correctly as a result<ul style="text-align: left" data-rel="backtrace"><li>

line 451 of /lib/pagelib.php: call to debugging()</li><li>
line 734 of /lib/pagelib.php: call to moodle_page->magic_get

[2014-03-25 02:01] troywilliams opened #29 "Deleting discussion doesn't delete log entries for that discussion"
Make sure log entries are deleted for a deleted discussion.

[2015-04-29 02:08] cedict opened #35 "Orphaned conversations causing confusion"
Hi,

We are currently using version 2.7 (2014071701) with Moodle 2.7 Stable (Build: 20150409) and using Postgres. An academic has reported an issue where the dialogue tool is reporting unread messages, but these messages cannot be seen in the UI.

This staff member has been granted 'mod/dialogue:viewany' permission which is counting any conversations, regardless of the staff members involvement: h

[2015-04-30 03:10] troywilliams commented on #35
Thanks for reporting. Will try to replicate over next few days. Do you know if academic was using any bulk opener rules in that dialogue? When a bulk opener rule is used their will be no participants... but state should be marked as bulkautomated, doesn't explain how got a open or closed state. Need to try and replicate.

[2015-04-30 23:07] cedict commented on #35
Hi Troy,

These conversations were definitely not opened using bulk opener rules - they were created singularly. I can't seem to find anything in common with conversations (apart from the academic having the 'mod/dialogue:viewany' permission.

[2015-04-30 23:22] troywilliams commented on #35
Ok, thanks. This was a problem in a previous version of the dialogue module.

[2015-08-10 13:55] colin-umn opened #36 "Fatal error in cron on call to file_prepare_draft_area()"
We occasionally see the following error message in the cron:

The problem appears to be that lib/filelib.php is not getting included unless something that runs prior to the dialogue task includes it.

[2015-08-13 08:50] troywilliams commented on #36
Hi,

Thanks for reporting, Sorry I am away for two weeks so cannot fix right now. I will sort once back.

Regards

Troy

[2015-09-29 13:48] colin-umn commented on #36
Hi Troy.  I just sent in a pull request to get this fixed.  We sometimes get these fatal errors every minute for hours until, finally, something happens to require filelib.php before this task runs.

Thanks.
Colin

[2015-09-29 22:41] troywilliams commented on #36
Closing, thanks for the fix.

[2015-12-12 03:24] #36 closed

[2015-12-12 03:25] #35 closed

[2015-12-12 03:25] #27 closed

[2015-12-12 03:25] #29 closed

[2015-12-15 17:33] colin-umn commented on #36
Hi Troy - Can you please also fix this in the 3.0 branch?  The fix is not in there.

[2016-02-17 03:36] cedict opened #38 "Bulk open rules send notification emails to inactive / suspended users"
Hi,

We've had reports of notification emails sending to suspended students from academic who've used the Bulk open rules on a course where all student enrolments are currently not yet active (controlled by the database enrolment method which integrates into our SIS). As the enrolments for these students are not yet active, the student cannot see the course, but an email has been sent by the dialo

[2016-02-23 07:13] cdipe opened #39 "Problem adding additional users"
When starting a new dialogue and already having added one user (out of several), and are trying to add another user to open a dialogue with, there's no result in the "People" field.

I have the impression that this should be possible?

I am using Moodle 2.8.7+ and Dialogue 2.8 (2014112601), it seems to be affection newer versions as well.

Discussion:
[https://moodle.org/mod/forum/discuss.php?d=32

[2016-03-04 07:58] neeesn commented on #39
I have a moodle 2.9.4 site where it doesnt work either

[2016-03-28 22:20] Albertf27 commented on #39
We have just installed Moodle 3.0.1 and the Dialogue feature of being able to have each student privately exchange comments with all of the teachers with whom he/she receives classes would be wonderful. Forums is not the right place, it's public. Chat is the wrong medium; it's for short interchanges. i.e. One-to-Many fits the bill for us and, no doubt others.

[2016-04-03 21:06] troywilliams commented on #39
You can use the forum tool for private discussion. See https://www.it.umass.edu/support/moodle/set-up-student-journals-moodle.

[2016-04-04 20:36] Albertf27 commented on #39
Troy, many thanks for your useful and pertinent answer.

[2016-04-13 21:27] drachels opened #40 "Dialogue file index.php gives 3 debug messages - one is FATAL"
I'm using the latest version of Dialogue. I just clicked on the Dialogue link in an Activities block of a course and got a deprecated, add to log, and fatal debug message as follows:

get_context_instance() is deprecated, please use context_xxxx::instance() instead.

[code]

add_to_log() has been deprecated, please rewrite your code to the new events API

[code]

Fatal error: Class 'dialogue' not

[2016-04-13 21:30] drachels commented on #40
A possible fix for the get context instance message is to change line 33 to
$coursecontext = context_course::instance($course->id);

A possible fix for the add to log is
// Trigger course module instance list event.
$params = array(
    'context' => context_course::instance($course->id)
);
$event = \mod_dialogue\event\course_module_instance_list_viewed::create($params);
$event->add_record_snapshot

[2016-04-13 21:31] drachels commented on #40
I haven't come up with anything that works to fix the fatal error.

[2016-07-06 02:32] gibbisons commented on #38
Thanks for your report and apologies for the delay.  We have had a change of developer so will get to this in time. Thank you for your patience.

[2016-07-06 02:33] #39 closed

[2016-07-06 02:33] gibbisons commented on #40
Please advise which version of Moodle you are using.

[2016-07-06 13:51] drachels commented on #40
At the time I posted those two fixes it was in Moodle 3.0, but I have implemented the same changes into my Moodle 3.1 site as well.

[2016-07-08 06:12] yukito8000 opened #41 "Query for dialogue to support global search"
Hi Troy. Many thanks for providing this plugin to the community; its functionality is really appreciated by our staff and students, and we’re really grateful to you for your efforts to maintain and update it.

On that note, please could I quickly query whether you have any plans to update the plugin to be fully compatible with Moodle v3.1, and its new Global Search feature in particular? To clarif

[2016-07-08 09:09] troywilliams commented on #41
Hi Lina,

I will have a look next week at what needs to be done to get plugin 3.1 compatible... not including global search functionality :-( Those are core plugins supporting global search. The global search will be great feature to add to dialogue module but some time needs to spent investigating/learning the new search API. I want to make sure a person's posts aren't searchable by other people

[2016-07-11 02:17] yukito8000 commented on #41
Hi Troy,
Thanks for your reply. To our teachers and students, it will be good enough if the title and the description of the dialogue can be searchable. We really appreciate your great contributions.
We will  be looking forward to the new release of dialogue plugin.
Best wishes,
Lina

[2016-07-11 20:21] choggnz commented on #40
I've found a fix for the fatal error by prefixing the dialogue class with its namespace. So on line 61 of index.php:

array(dialogue::STATE_OPEN, dialogue::STATE_CLOSED) becomes:

array(mod_dialogue\dialogue::STATE_OPEN, mod_dialogue\dialogue::STATE_CLOSED)

I've only tested this on Moodle 3.1

[2016-07-11 21:05] drachels commented on #40
Thanks for the info. Your fix works in Moodle 3.0 also. At first, I missed that it is actually two changes in that line of code.

[2016-07-11 21:40] gibbisons commented on #38
Can you please clarify your integration? When you say the enrolment is not active - is that in your SIS? How does that reflect in the Moodle course? Does the user have a role in the course?

[2016-08-05 11:29] pasztuhovd opened #43 "Dialogue message list - set number of messages"
It would be nice if I could set the number of messages displayed in the message list.

[2016-08-05 11:30] pasztuhovd opened #44 "Set the message order in one thread"
It would be nice if I could reverse the order of messages in a thread

[2016-08-11 12:04] cdipe commented on #39
Sorry, I misunderstood the "People" search field. Thought you also could bulk open dialogues with selected users.

[2016-09-09 08:55] juancs opened #45 "Bulk opener rules are not being sent"
This happens on Moodle 3.x. To reproduce:
- create a bulk opener rule
- Add a message in HTML format
- Execute the dialogue task.

What I get in the php log is:

[09-Sep-2016 10:19:45 Europe/Madrid] PHP Fatal error:  Call to undefined function file_prepare_draft_area() in /var/www/moodle/mod/dialogue/classes/conversation.php on line 86

[2016-09-09 11:26] juancs opened #50 "Dialogues not being shown in the activities block"
I can reproduce it on Moodle 3.x. Maybe other versions are affected:
- Add a dialogue to a course
- Click on the Dialogues link inside Activities Block

What I'm getting is a 500 error.

[2016-10-20 22:15] cdsmith-umn commented on #45
We are experiencing this problem at U of MN, as well.

[2016-10-21 10:40] cdsmith-umn commented on #45
This pull request from Colin for your Moodle 2.8 version of this plugin will fix this problem:
https://github.com/wcel/moodle-mod_dialogue/pull/37

[2016-11-16 08:06] troywilliams commented on #40
Closing, has been fixed. Thanks for your contribution to making dialogue better 👍

[2016-11-16 08:07] troywilliams commented on #50
Thanks for your fix 👍 Closing.

[2016-11-16 08:07] #50 closed

[2016-11-16 08:08] troywilliams commented on #38
Thanks for reporting, is now fixed.

[2016-11-16 08:08] #38 closed

[2016-11-16 08:09] troywilliams commented on #45
Thanks for fix, implemented. 👍

[2016-11-16 08:09] #45 closed

[2016-11-16 08:10] #40 closed

[2016-12-20 16:19] RodrigoSyprianoRibeiro opened #54 "Differentiate student teacher"
Hi

Where you select the participants in the conversation, do you have any options that differentiate the student from the teacher?

[2017-03-16 19:18] robelko opened #58 "Dialogue title is not multilang compatible"
When dialog name is set using multilang string, the name of the dialog shows all languages when the dialog is open. It is fine in the course view.

[2017-05-03 12:02] Jarvil opened #59 "Option to show new messages on top"
Hello,

At the moment new messages are added to the bottom of the dialogue-page, I would like to see an option to change that so that the most recent message would be displayed in the top part of the page.

![recenttop](https://cloud.githubusercontent.com/assets/15193418/25659681/8d57fd34-3011-11e7-8991-da1b36917531.png)

[2017-07-20 16:24] jsachsman opened #60 "Title not appearing in conversation.php, reply.php"
conversation.php and reply.php don't have visible page titles or <title></title> either.

I think the reason why is because

$PAGE->set_title(format_string($activityrecord->name));
$PAGE->set_heading(format_string($course->fullname));

were left out (they're in almost every other page).

I've added them in around line 65 for each file in my personal repository and it seems to fix the issue.

[2019-01-24 06:52] mnods opened #62 "Request: Notification capabilities"
Hi, would it be possible to add in a set of notification capabilities? we currently have some teaching staff set as assigned roles across a wide range of courses, so not "enrolled" in the course so they don't get notifications for dialogues they are involved in. Event monitoring is a possibilty but I think it would be neater to allow notices via capabilities. A little like mod/assign:receivegrader

[2019-02-26 12:11] Jarvil opened #65 "Moodle 3.5 support?"
Hello,

When you will support Moodle 3.5? @troywilliams

[2019-03-01 01:21] troywilliams commented on #62
Hi Mike,

I gather pull request https://github.com/troywilliams/moodle-mod_dialogue/pull/64 releates to this issue?

Cheers,

Troy

[2019-03-01 01:23] troywilliams commented on #65
I haven't been able to get to it, I will try to allocate some time next week. I had issues with 3.5 boost breaking some of the form elements.

 R T

[2019-03-01 05:38] Jarvil commented on #65
Great, thanks.

[2019-03-01 13:46] mnods commented on #62
Hi Troy, yes it does, I think your code that displays available users with
receive capability is specific to "enrolled" users in the course and not
role assignments.

Ok to ignore the request as It's probably quite a specific use case we have
and the extra code we put in seems to work for what we needed. Not perfect
though, I think it does need some tweaking.

On Fri., 1 Mar. 2019, 09:22 Troy Will

[2019-03-05 11:23] mariainserver opened #66 "Automatic and unwanted sent of drafts"
Good Morning.

First thank you for your contribution with this plugin. Although, I wanted to report an error found in the functionality. It could be reproduced by following the next steps:

- Create conversation with 'Bulk open rule' by selecting 'All participants' and save as draft.
- Enroll one or more users.
- The draft **automatically is sent** to all students.

This error occurs in Moodle 3.4

[2019-03-06 06:53] troywilliams commented on #66
Thanks for reporting the issue.

Troy

[2019-03-07 00:09] logan-reynolds opened #67 "mod_dialogue causing course backup/restore to fail on Totara 12"
When attempting to backup and restore a course containing an instance of mod_dialogue latest version 2017051500 for M33 (which Totara 12 is based on), course restore fails at 63% with the following fatal error writing to the database.  My apologies that this is all of the error I could retrieve, as it was not printed to the UI and was truncated in webserver logs:
[code]
I haven't tried on Moodle v

[2019-04-25 14:53] paulholden opened #68 "Not possible to show module description on course page"
The option "Display description on course page" is nice to have, and is used by most other activity modules in Moodle.

[2019-04-28 23:36] #68 closed

[2019-05-02 09:00] paulholden opened #70 "Update Travis integration JDK package"
Current builds are failing due to missing dependency on Oracle JDK - switch to OpenJDK instead

[2019-08-06 08:06] Jarvil commented on #65
Hello,

How about 3.5 support?

[2019-08-06 08:44] Jarvil opened #72 "Feature request: allow teacher post to students but disallow student writing messages to other students."
Hello,

Feature request: allow teacher post to students but disallow student writing messages to other students.

[2019-08-06 08:45] Jarvil commented on #72
If you prevent mod/dialogue:receive from student-role then event teachers cannot select student as the reciever

[2019-11-29 00:14] athyg opened #73 "Compatibility with Moodle 3.7"
Hi Troy,
We are in the process of upgrading a client's Moodle to v3.7 & they're currently using the mod_dialogue plugin and would like to be able to continue using it in their upgraded site, as the Moodle messaging doesn't meet their requirements.
Are you able to upgrade the plugin for compatibility with Moodle 3.7?
Thanks,
Athy.

[2020-01-28 07:30] Urpokarhu1 commented on #65
Hello,

How about 3.5 support?

[2020-07-03 07:41] Markibacsi commented on #73
Big thumbs up to all involved in the development of this plugin :)
We are upgrading from 3.3 to 3.8 and also rely on 'heavily' on Dialogue.
Any news on a possible update would be great to communicate to the staff :)

[2020-11-13 05:23] Urpokarhu1 opened #74 "Moodle 3.9 support?"
Hello,

I would like to see 3.9 version support for this plugin.

[2020-11-13 05:23] Urpokarhu1 commented on #74
@troywilliams

[2020-11-17 22:46] kiratskitizing opened #75 "mod_dialogue: Unable to select more than one student when creating a new message in a Dialogue"
**Environment:**
Moodle - 3.9.3+ (Build: 20201113)
Dialogue - 2017111300

**Replication:**
1. Create a course and enrol three student users.
2. Turn editing on.
3. Add a Dialogue activity.
4. Go to the Dialogue activity.
5. Click the "Create" button.
6. In the Open with / People field, type the student user's name and select it.
7. The selected student will be added onto the field.
8. Repeat step

[2020-11-18 17:09] nigelbirch commented on #75
Can confirm we have exactly the same issue.

Worked until 10th of November and stopped overnight.

Moodle - 3.9.3+ (Build: 20201113)
Dialogue Version: 2017111300

It seems to replicated on all versions of moodle we have, even our local version.

[2020-11-24 22:33] troywilliams commented on #75
I have done any work on the plugin for a long time. Last commit on master April 2019
https://github.com/troywilliams/moodle-mod_dialogue/commit/d97f486967b6657c6c045eb0562875958d619a17

You can only add one student per dialogue, You have never been able to select multiple students from the autoselect drop-down.

Please put in a feature request, it is unlikely I will get to this anytime soon.

Kind

[2021-01-13 02:58] mnods opened #76 "privacy provider php unit test failure"
hello, thanks for your plugin, just reporting a php unit fail in case you aren't aware.

MDL 3.9.x

Cheers
10:11:16.398 1) provider_testcase::test_all_providers_compliant with data set "mod_dialogue" ('mod_dialogue', 'mod_dialogue\privacy\provider')
10:11:16.407 .Failed asserting that false is true.
10:11:16.407
10:11:16.407 /opt/data/go-agent/pipelines/Moodle/moodle/privacy/tests/provider_test.ph

[2021-01-20 13:32] RaimundE commented on #74
Hi Troy,

like many others we'd be very thankful for an updated version of your plugin. Would it help to find some funding for your working on the project again? I'd be happy to try and mobilize a bit of money for this - pls let me know if this might be a way forward.

Thanks
Raimund

[2021-02-26 06:01] troywilliams opened #77 "Add PrivacyAPI support"
Add PrivacyAPI support
https://docs.moodle.org/dev/Privacy_API

[2021-02-26 06:06] troywilliams commented on #65
Hi Javil,

I will be targeting v3.9.x for the next release.

Kind regards,
Troy

[2021-02-26 06:06] #65 closed

[2021-02-26 06:26] troywilliams commented on #76
Hi,

I will target PrivacyAPI support in a v3.9.x release. You can follow progress via the project board
https://github.com/troywilliams/moodle-mod_dialogue/projects/1

Regards,
Troy

[2021-02-26 06:26] #76 closed

[2021-02-26 06:42] troywilliams commented on #74
Hi Raimund,

I am in the process of putting a project plan together to update the plugin for v3.9.x. I have neglected to maintain it and It needs a lot of work. However, you will be track progress via a project board I have setup. https://github.com/troywilliams/moodle-mod_dialogue/projects/1 The board is in its infancy but it will ramp up over the coming weeks.

Kind regards,
Troy

[2021-02-26 06:42] #74 closed

[2021-02-26 06:51] troywilliams opened #78 "Evaluate plugins broken-ness under v3.9.x LTS"
Evaluate plugins broken-ness under v3.9.x LTS

- [ ] Missing callbacks https://docs.moodle.org/dev/Callbacks

[2021-02-26 06:53] troywilliams commented on #73
Hi,

I will be targeting v3.9.x for the next release. You can follow progress via board https://github.com/troywilliams/moodle-mod_dialogue/projects/1

Kind regards,
Troy

[2021-02-26 06:53] #73 closed

[2021-02-26 06:56] troywilliams opened #79 "Implement new CI replacement"
Implement new CI replacement

https://github.com/moodlehq/moodle-plugin-ci/blob/master/gha.dist.yml
https://github.com/danmarsden/moodle-mod_attendance/tree/main/.github/workflows

Thanks to @danmarsden

[2021-02-26 06:57] #70 closed

[2021-02-27 13:11] RaimundE commented on #78
Hi Troy,
happy to hear that you're taking development up again - we'll keep an eye on this thread!
Raimund

[2021-03-01 10:40] cdipe opened #80 "Show username in search list"
In large courses there are sometimes users with the same first and last names. It would be good to have the email or username showing as well, to differentiate these students.

[2021-03-01 10:43] cdipe opened #81 "The down arrow stops working when having searched for user to start dialogue with"
The search field has a down arrow, to scroll users, and you can also search by typing letters.
When having typed letters, the down arrow stops working and you have to reload the page for it to work again.

[2021-03-01 10:46] cdipe opened #82 "No drop-down list in search field showing when many users in course"
When there are many users in a course, the drop-down list to find user to start dialogue with is not populated.

[2021-03-02 05:48] troywilliams opened #83 "Refactor recipient picker to use moodleform's autocomplete element and web services."
The current recipient picker uses the deprecated JavaScript YUI library https://docs.moodle.org/dev/YUI and old-school AJAX calls.

Move to moodleform's autocomplete element and web services API for datasource.

https://docs.moodle.org/dev/lib/formslib.php_Form_Definition#autocomplete

Related issues:

- No drop-down list in search field showing when many users in course #82
- The down arrow stops

[2021-03-17 06:32] danmarsden commented on #79
done.

[2021-03-17 06:32] #79 closed

[2021-03-19 04:45] danmarsden commented on #67
Hi @logan-reynolds - I've just had a look at the code and I can see maxattachments comes from the site level setting - not the backup - it has a default value of 5 and is probably not set in your Totara site - If you are still having issues you should visit the site level dialogue settings page and make sure it has a value set.
Closing this for now, but please feel free to create a new issue if yo

[2021-03-19 04:45] #67 closed

[2021-03-19 07:15] danmarsden opened #84 "Moodle 3.11 support - user_picture:fields() deprecated"
user_picture::fields() is deprecated. Please use the \core\user_fields API instead.

[2021-03-21 04:01] danmarsden opened #85 "look at replacing autoselect with searcheable selector"
would be good to look at seeing if we can replace the custom autoselect with Moodle's core searchable selector form api.

[2021-03-21 04:29] danmarsden commented on #85
duplicates #83

[2021-03-21 04:29] #85 closed

[2021-03-22 08:30] mattys101 opened #86 "Add Search of conversation content and/or filtering to help find old conversations quickly"
When using a Dialogue in a course with many students, or even fewer students who are very active, it becomes difficult and time consuming to track down old conversations. The Dialogue module needs to be able to:
 * search conversation subject and content to quickly find conversations on a topic
 * filter conversations by participant
 * filter conversations by date/time range (explicit and/or conve

[2021-03-23 07:22] danmarsden commented on #86
Hi @mattys101 - I can't see me having time to do this as a volunteer, but feel free to get in touch privately if you want to fund improvements to the dialogue plugin.

Alternatively if you have development capabilities, pull requests are always welcome!

[2021-03-24 00:00] mattys101 commented on #86
No worries @danmarsden. Just thought I should add so that the idea was on the radar. If I could convince the Moodle team at my uni to contribute something it would be good, but unfortunately they are unwilling and I would not know where to start---PHP is not my strong suit and Moodle's a bit of a mess (I haven't looked at your plugin code though, so no judgement there).

[2021-03-24 00:35] danmarsden commented on #86
haha - it's not really "My code" either - I've only just taken on Maintenance of this plugin this week - this plugin actually dates back to Moodle 1.4 so a lot of different people have touched this over the years....

[2021-04-06 12:16] cdipe opened #87 "Viewany capability also allows reply/add file capabilities."
When giving the role Student dialogue permission **mod/dialogue/:viewany**  locally in the course, all users with the role Student can not only view but also reply and add files in another student-to-teacher dialogue
Prohibiting the **mod/dialogue/:replyany** does not solve this.

User case: The Dialogue is used as a diary/portfolio for the student to create and other students to read.

Using Mood

[2021-04-07 00:34] danmarsden commented on #87
Thanks for the report, feel free to help by contributing a pull request, or get in touch privately if you would like to fund development on the dialogue plugin.

[2021-04-26 23:36] danmarsden opened #88 "error during upgrade"
just noticed this during an upgrade - just logging it here to come back to later:

Can't find data record in database table context.

More information about this error

×Debug info: SELECT * FROM {context} WHERE id = ?
[array (
0 => '1673733',
)]
Error code: invalidrecord
×Stack trace:
line 1599 of /lib/dml/moodle_database.php: dml_missing_record_exception thrown
line 1575 of /lib/dml/moodle_datab

[2021-06-01 12:35] cdipe opened #89 "Feature request: Option to subscribe to update email"
It would be great to have the option as a user to subscribe/unsubscribe to email about updates in a Dialogue - for the whole Dialogue instance, but with option to subscribe / unsubscribe to single dialogues.

[2021-06-01 22:05] danmarsden commented on #89
Thanks @cdipe - that does sound useful - it's unlikely I'll get time to work on this specific task as a volunteer, but feel free to help by contributing a pull request, or get in touch privately if you would like to fund development on the dialogue plugin.

[2021-06-14 15:32] cdipe opened #91 "All threads from different dialogues in different courses visible in every Dialogue"
Hi, we just upgraded to moodle 3.9.7 and using dialogue 3.4  2017111300, and suddenly the users can see all their dialogue threads from any dialogue, in any dialogue, in any course. They start a dialogue in one course and can see it in another dialogue in another course.

This doesn't happen to moodle administrators, only teacher roles and students.

It's a big problem, since we didn't discover th

[2021-06-14 18:51] cdipe commented on #91
Even stranger: When giving the right mod/dialogue:viewany to the roles, this makes the user see only the coversations in that dialogue, not from other Dialogues. But the intended function is also added, to see any conversation in that Dialogue.

[2021-06-15 00:17] danmarsden commented on #91
I haven't been able to reproduce this - please let me know if you work out the conditions that allow me to reproduce this with a fresh install of dialogue.

thanks!

[2021-06-15 06:47] cdipe commented on #91
I installed 3.9.7 locally om my mac and cannot reproduce. We'll investigate our live sites further. Dialogue was working fine in 3.8.6, that we upgraded from. Any ideas where to start investigating?

[2021-06-23 07:42] cdipe commented on #91
Hi! We had a moodle partner helping us with the problem, and they made this report and code changes.
That solved our problem.
[There is a bug in the plugin Dialog[3].pdf](https://github.com/danmarsden/moodle-mod_dialogue/files/6699933/There.is.a.bug.in.the.plugin.Dialog.3.pdf)

[2021-06-23 08:25] danmarsden commented on #91
Great! - any chance that Moodle partner could submit a Pull request with the change? - not ideal supplying patches in pdf files...

[2021-06-23 08:29] danmarsden commented on #91
I also note that the pdf suggests that this plugin hasn't received any updates since 2017, which is obviously incorrect and they didn't even look at the github codebase...

[2021-06-23 08:38] danmarsden commented on #84
fixed in #90

[2021-06-23 08:38] #84 closed

[2021-06-23 08:39] danmarsden commented on #78
closing this one - it seems to work in 3.9 and there aren't any specfic issues mentioned in this issue.

[2021-06-23 08:39] #78 closed

[2021-06-23 08:41] danmarsden commented on #88
couldn't reproduce this - might have been some bad data in my local install.

[2021-06-23 08:41] #88 closed, assigned to nobody

[2021-06-23 09:34] cdipe commented on #91
@danmarsden  I'll ask the Moodle partner if they will submit a pull request, I don't know how to do it properly.

[2021-06-23 10:36] danmarsden opened #92 "Cannot remove participants from a draft conversation"
If you add a number of people to a conversation and then save it as a draft, when returning to edit that draft if you want to remove a participant from the list this does not work.

the "save_participants" function only handles adding users/not removing them.
https://github.com/danmarsden/moodle-mod_dialogue/blob/MOODLE_311_STABLE/classes/conversation.php#L617

[2021-06-23 10:40] #83 closed

[2021-06-23 10:41] danmarsden commented on #82
latest version now users the core autocomplete form component so this should appear more like other core Moodle forms now.

[2021-06-23 10:41] #82 closed

[2021-06-23 10:42] danmarsden commented on #81
latest version now users the core autocomplete form component so this should appear more like other core Moodle forms now.

[2021-06-23 10:42] #81 closed

[2021-06-23 10:42] danmarsden commented on #75
latest version now users the core autocomplete form component so this should appear more like other core Moodle forms now.

[2021-06-23 10:42] #75 closed

[2021-06-23 11:19] danmarsden opened #93 "new autocomplete code should check receive capability"
The new autocomplete shows all enrolled users - not just those with the receive capability - that should be fixed.

[2021-06-24 02:02] #93 closed, assigned to nobody

[2021-06-24 02:06] #60 closed

[2021-06-24 02:11] #58 closed

[2021-06-24 02:14] danmarsden commented on #44
duplicate of #59 which has slightly more detail so I'm closing this one off - thanks.

[2021-06-24 02:14] #44 closed

[2021-06-24 02:21] danmarsden opened #94 "Privacy API not yet complete"
The privacy API class here is not quite finished - this needs to be finished off before we publish this version in the plugins db.

[2021-06-25 10:45] danmarsden opened #95 "improve validation on create conversation tab"
JS validation should force the addition of a participant.

[2021-06-25 10:48] #94 closed, assigned to nobody

[2021-06-25 10:57] #95 closed, assigned to nobody

[2021-06-29 21:16] danmarsden commented on #77
this is now complete.

[2021-06-29 21:16] #77 closed

[2021-07-23 22:30] danmarsden commented on #91
HI @cdipe - I'm closing this as I cannot reproduce this with the latest code - if you can find a way for me to reproduce this with the latest version including the steps required to do this please let me know and I'll take another look.

[2021-07-23 23:11] #92 closed, assigned to nobody

[2021-07-25 11:44] dinism opened #97 "Dates not respecting local date format"
I'm in PORTUGAL and dates showed are not in the same format of my system (without pm or am)
![imagem](https://user-images.githubusercontent.com/14828021/126897820-f198c1c6-479b-4039-9f98-16d0faa87617.png)

[2021-07-26 01:01] danmarsden commented on #97
Thanks for the report! - I suspect this is coming from this line of code:
https://github.com/danmarsden/moodle-mod_dialogue/blob/9b53c56d18e041b07a7762548ea14225cc77c875/locallib.php#L454

probably needs to use an strtotime string from the lang pack instead of the hard-coded values in there.

[2021-07-27 09:10] #97 closed, assigned to nobody

[2021-07-27 09:12] danmarsden commented on #97
Hi @dinism - I've just pushed a fix for this into the github repository - feel free to download it directly from github and let me know if it has fixed this for you - thanks.

[2021-08-02 09:24] dinism commented on #97
After the fix, time is OK but dates are in ENGLISH (not in portuguese, in our case)
![imagem](https://user-images.githubusercontent.com/14828021/127837935-fefb3275-4183-4b38-9011-85f231a7d5f9.png)

[2021-08-02 21:55] danmarsden commented on #97
I'm 90% sure that this is your issue:
https://docs.moodle.org/en/Calendar_FAQ#Why_are_month_names_not_being_displayed_in_the_correct_language.3F

That's an issue with the way Moodle uses dates - not something we can fix in Dialogue but something you will need to address on your webserver by setting the right locale.

thanks,

[2021-08-03 08:39] dinism commented on #97
OK. Thanks for the reply.
Before the update the months name were ok. In others plugins dates and time are ok.
I installed other language packs and the result is the same:
![imagem](https://user-images.githubusercontent.com/14828021/127988935-dbb7ec8d-fc69-4dc8-ab41-58a01d1eaef4.png)
In attendance plugin the name of the months name are ok.
![imagem](https://user-images.githubusercontent.com/1482802

[2021-08-03 21:29] danmarsden commented on #97
thanks - the code that displays dates hasn't changed in at least 3 years - possibly even more - so maybe you just didn't notice this previously, or were using a very old version of dialogue, or in the process of upgrading your Server O/S you didn't set the correct locale.

I do think this is probably fixable in dialogue by rewriting the date handling a bit more but I can't see myself having time a

[2021-08-16 11:38] cdipe opened #98 "Dialogue not working in Moodle App"
When using the Dialogue in the Moodle App, the module must be opened in a web browser instead.
Using Moodle 3.9.7

[2021-08-16 21:45] danmarsden commented on #98
Thanks @cdipe - adding support for the mobile app is a decent chunk of work - not something I'm planning to implement as a volunteer, but feel free to reach out if you would like to fund development on this.

[2021-08-17 07:24] cdipe commented on #98
Hi @danmarsden, how much money are we talking about?
I have suggested to the Moodle Users Association that Dialogue should be funded by the MUA to become part of moodle core, since this module covers basic yet essential functionality that any LMS should have.

[2021-08-17 08:00] danmarsden commented on #98
Thanks @cdipe  - I assume you're referring to: https://moodleassociation.org/mod/forum/discuss.php?d=911

IMO - adding dialogue to moodle core would be a bad idea - the code and structure of this plugin just isn't up to the standards required and it would be better to extend existing core user-to-user functionality. Moodle HQ does have some plans to improve communication tools in future, but MUA c

[2021-09-15 12:08] on8pz commented on #91
Same problem on moodle 3.11 with the latest mod_dialogue at this time (3.11.1)
Steps to reproduce:
Login with account with teacher role in course A and course B. (Users with admin roles do not see the error. Also do not use the 'login as' functionality since you will not see the problem. Log in with teacher account without admin privileges)

Go to course A
Add dialogue activity in course A
Add con

[2021-09-15 23:41] danmarsden commented on #91
Hi @on8pz thanks for the info - feel free to submit a PR with the change and I can take a look.

[2021-09-27 19:58] Polirecyliente opened #99 "user_picture::fields() for Moodle 3.10 and older"
Good day, I'm not really sure if this is a valid issue, so please feel free to summarily close if it is not relevant.

The commit c210704146eea920189ec9fd00980b45762eebff fixed the deprecation of user_picture::fields() from Moodle 3.11, but the fix was made in such a way, that it would fail on Moodle 3.10 or older, does it not?

For example `$requiredfields = user_picture::fields('u');` was replac

[2021-09-27 20:06] danmarsden commented on #99
That method introduces technical debt. I use a branching method (like moodle core) please see the readme for supported versions and the correct branch in github to use.
https://github.com/danmarsden/moodle-mod_dialogue#branches

Thanks.

[2021-09-27 20:06] #99 closed, assigned to nobody

[2021-12-01 10:17] davefoord opened #100 "Use Course Groups function not working"
I don't think that the 'Use Course Groups' function is working. I have enabled this option, yet students can still see students from groups that they are not in, and can send a message to them.

I am sure I have had this working in the past, but have just tested this on 3 different Moodles, and all have behaved the same way.

[2021-12-01 11:56] cdipe commented on #100
@davefoord could this issue be connected to the the problem I reported, [https://github.com/danmarsden/moodle-mod_dialogue/issues/91]

[2021-12-01 13:12] davefoord commented on #100
@cdipe this may be connected in some way (but I don't understand the technical side of things, so not sure). In my cases, the students are not seeing the other conversations, they are only seeing their own messages - they are however seeing other peoples names appearing in the dropdown list, and are able to start a conversation with these other people.

[2021-12-01 13:23] cdipe commented on #100
@davefoord ok, that sounds like a different issue

[2021-12-01 20:54] danmarsden commented on #100
yeah - that does sound like a regression with the new user selector - probably a little bit of reworking required there to pass the current users group and the group settings to the custom search web service. I took a look at the moodle core enrol search users function and it doesn't seem to support groups either.

Pull requests welcome, otherwise I'll try to find some time for this in the new yea

[2022-01-05 11:47] turf212 opened #101 "Maria DB returning all user dialogues regardless of the dialogue clicked on."
When someone goes into the dialogue activity they are presented with every dialogue they have created, even if they are within other courses.  The issue stems from the class conversations_by_author where $this->baseql is defined in line setup() function.  The SQL comes out looking something like :

`SELECT u.id AS userid, dc.subject, dc.dialogueid, dm.conversationid, dm.conversationindex, dm.autho

[2022-01-05 12:02] turf212 opened #102 "Request - add option to allow user to see only teachers in the dropdown list."
It seems that one of the Moodle patches in 3.9.1 or .11 has changed the way that getting course participants works.  When you create a new dialogue the drop down contains a list of all of the course participants whereas previously, if the capability for moodle/course:viewparticipants was turned off for the student role then it would return the list of teachers only.  This no longer works and you g

[2022-01-10 09:55] turf212 commented on #101
looks like this is a duplicate of #91 - closing this one as all of the discussions are already there.

[2022-01-10 09:55] #101 closed, assigned to nobody

[2022-01-12 18:44] licethrey91 commented on #102
Version 3.4 of the mod_dialogue plugin allowed to create activities and assign roles to the permission (mod/dialogue:receive) at the activity level. But now the activities are not currently taking these permissions.

Now when the role is assigned at activity level all the enrolled users are shown, the permission is taken at course level.

We found the following documentation about the plugin code

[2022-01-17 03:34] danmarsden commented on #102
@licethrey91 that sounds like a different request from @turf212 but would require the coursemodule id to be passed to the custom webservice so that it could use the coursemodule context instead - feel free to submit a pull request to improve it or get in touch privately if you would like to fund improvements - thanks!

[2022-01-17 03:36] danmarsden commented on #101
thanks @turf212 - feel free to submit a pull request with the fix!

[2022-01-17 19:38] licethrey91 opened #103 "Request - Re-enable the functionality to assign permissions to the activity."
Version 3.4 of the mod_dialogue plugin allowed to create activities and assign roles to the permission (mod/dialogue:receive) at the activity level. But now the activities are not currently taking these permissions. This functionality was in this version.

 if (!has_capability('moodle/site:accessallgroups', $context)) {

https://github.com/danmarsden/moodle-mod_dialogue/blob/c7272bc2b4d71cc6276f81

[2022-01-17 19:41] licethrey91 commented on #102
Thank you @danmarsden for your prompt reply, in this order of ideas I have created the issue https://github.com/danmarsden/moodle-mod_dialogue/issues/103.

 I am attentive to any information.

[2022-01-17 20:13] danmarsden commented on #103
I don't have a lot of capacity right now, but if you submitted a pull request I'd be happy to review it  - I'd be tempted to modify the custom web service call to take a coursemoduleid instead of a courseid rather than just adding a cmid to the exisitng list of parameters.

[2022-02-11 13:44] cdipe opened #104 "Add check if recipient selected before starting new dialogue"
Using dialogue 3.9.1

When forgetting to select a recipient to start a new dialogue with, the user gets an error message:
<img width="872" alt="image" src="https://user-images.githubusercontent.com/14754240/153601969-9a604618-726b-48ef-95e9-8da829ffed3a.png">

The Continue button leads to the Dashboard and the message is lost.

[2022-02-24 16:11] lengyelke commented on #100
there is a 'usecoursegroups' var in the code, but it is not checked at any stage in the new version, a lot of code was deleted from 3.9
it checks the group setting here:
locallib.php line 56 (ver 3.9) and there is no equivalent in v3.11
we really would like to use that functionality to control who the student can message to

might be useful:

- core_group_get_course_user_groups : Returns all group

[2022-02-25 01:36] danmarsden commented on #100
thansk @lengyelke - pull requests are welcome! - I'll try to find time for this at some point but I'm sure you can understand I have a lot of demands on any free time I have and all my work on dialogue has been voluntary (unpaid). We needed to replace a lot of the old YUI code and make it follow moodle's coding guidelines better, but it should be easy to add some of these functions back in now tha

[2022-03-24 23:29] #102 closed, assigned to nobody

[2022-03-24 23:29] #103 closed, assigned to nobody

[2022-03-24 23:41] #104 closed, assigned to nobody

[2022-03-25 01:46] #100 closed, assigned to nobody

[2022-05-13 21:10] amalkowski opened #105 "Only 30 users out of 100"
I noticed the problem that when the course is big (100 users) only 30 ~ are displayed in autocomplete form.

OK, I found problem:
`            promise = Ajax.call([{
                methodname: 'mod_dialogue_search_users',
                args: {
                    courseid: courseid,
                    search: query,
                    searchanywhere: true,
                    page: 0,

[2022-05-13 23:19] danmarsden commented on #105
yes - 30 per "search" - you do know that it's a searchable selector right? - type in some text and it will filter/search for all results that match that search term (with a limit of up to 30 records in the list at a time.) - this is similar to other searchable selectors in Moodle too.

[2022-05-13 23:24] amalkowski commented on #105
Oh. You're right.

Ok

[2022-06-14 01:44] Atbins opened #106 "Activity completion "Expect Completed on" function doesn't add entry to Calendar/Timeline block"
Hi,

It has been observed that the 'dialouge' activity does not add calendar/timeline block entries whenever the activity is set to use the 'Expect completion by' function of Activity Completion.

It appears the Moodle core code might not automatically handle adding entries to the calendar via this field, so requires plugins to explicitly update '\core_completion\api::update_completion_date_event'

[2022-06-14 01:54] danmarsden commented on #105
closing as not a bug - thanks.

[2022-06-14 01:54] #105 closed, assigned to nobody

[2022-06-14 01:55] danmarsden commented on #106
thanks for the report, feel free to help further by submitting a pull request with the required changes.

[2022-08-06 09:55] cvovolt opened #107 "bulk not working in moodle 4.0"
After upgrading from Moodle 3.9 to Moodle 4.0 the dialogue plugin is unable to create bulk messages.
Nothing happens when the 'create' button is clicked. The other conversations (not in bulk) are working fine.
Any ideas? Please let me know if I can provide more info.

[2022-08-19 09:11] #107 closed, assigned to nobody

[2022-08-19 09:11] danmarsden commented on #107
thanks for the report - looks like a regression caused by #104 - I've just pushed a fix into the github repository that should fix it! - let me know if you still have issues though.

[2022-08-19 09:23] danmarsden commented on #66
I haven't been able to reproduce this - flagging as closed, but let me know if you find this issue with a more recent version of moodle and the latest dialogue code.

[2022-08-19 09:23] #66 closed

[2022-08-19 09:28] #91 closed, assigned to nobody

[2022-08-22 08:22] cvovolt commented on #107
Thanks! That fixed it indeed.

[2022-09-02 06:45] davefoord opened #108 "Ordering of items based on draft date not sent date"
Something that I noticed (well a client noticed), is if a user starts a draft message which they then save, if they then come back and edit that draft and send it. The order that it appears in the list of communications is not based on the date it was sent, but appears to be based on the date that the draft was started. The significance in this case, was the tutor receiving the message, couldn't f

[2022-10-19 12:59] Matglou opened #109 "User selection seems to pull from sitewide "authenticated user" rights instead of course rights"
Hi all,
I seem to have run across a bug while trying to get the plugin working again in our moodle enviroment.
We used the plugin to have teachers contact individual students and have a message chain going throughout their education.

However after a recent update it seems that the plugin's user selection element derives its rights structure from the global "authenticated user" role that every use

[2022-10-19 14:42] cdipe commented on #109
It seems to me like a hard nut to crack... if not added to a specific role on site- or category level in Moodle, all logged in users are just "authenticated users" outside any course context.

[2022-10-19 14:49] Matglou commented on #109
@cdipe yeah, that's how our system is set up, but the vast majority of rights allocations in the plugin refer to course level roles, whereas the selection of recipients is the only part that refers to a sitewide role.

This also seems to conflict with the mod/dialogue:receive right. As the selection process looks at sitewide users and allows to contact them regardless of the role they have in the

[2022-10-20 00:22] danmarsden commented on #109
thanks - pull requests (or funding for my time) to improve this is always welcome :-)

[2022-11-07 11:32] davefoord opened #110 "When creating a copy of a course, the Dialogue activity incorrectly 'keeps' conversations with it"
Dialogue version 3.11.1
Moodle version 3.11.7

I have a course that contains a dialogue activity that has been used. In order to create 'next years course' I back up the course, but don't include users - and then restore this course giving me a new version of the course with no users, and therefore all assignments and quizzes have no attempts etc.

However - the Dialogue activity appears to behave

[2022-11-07 19:58] danmarsden commented on #110
I think this is probably a duplicate of #91 which is fixed in the 4.0 branch - feel free to test the fix included there and see if it works on your 3.11 branch.

[2022-11-08 14:02] davefoord commented on #91
Hi Dan - I have installed the 4.0 version of the plugin on my 3.11 Moodle and the same problem is occurring, so doesn't appear to have fixed it, which is a shame. I am not planning to upgrade the Moodle to 4.x until next summer.

Is it worth me trying to edit the code as per the suggestions by on8pz?

[2022-11-09 21:00] danmarsden commented on #91
hmmm - that doesn't sound right... the Moodle 4.0 version of this plugin has a "requires" version set to Moodle 4.0 and higher, so it shouldn't let you install it on your Moodle 3.11 site at all. I'll see if I can find some time to backport the patch to the 3.11 branch sometime today.

[2022-11-09 21:06] danmarsden commented on #110
Hi @davefoord I've just pushed that patch into the MOODLE_311_STABLE branch and bumped the version to 3.11.3 - can you try updating your plugin to that version to see if it fixes it for you?

[2022-11-11 18:05] Matglou commented on #109
@danmarsden thanks for getting back to me! Sorry for the late reply. I've spent a bit of time going over the code, but honestly it's above my experience level, so I'd harm more than help on that front. As for funding, I'm working for a small educational group, with most of my time being volunteered as well so that's unfortunately not readily available.

[2022-11-14 13:50] davefoord commented on #110
@danmarsden just to let you know that applying version 3.11.3 to the site, has fixed the issue, so huge thanks for fixing this bug so quickly.

Would it be possible to push this version to the Moodle plugins page as well?

[2022-11-14 22:12] danmarsden commented on #110
thanks for confirming that - I've updated the moodle.org plugins db with this release.

[2022-11-14 22:12] #110 closed, assigned to nobody

[2022-11-23 06:46] juancs opened #111 "Cannot download attachments that has a # in its filename"
To reproduce:

* Create a conversation
* Add an attachment with a file name like file#name.pdf

The attachments gets uploaded but noone can download it.

[2022-11-24 07:52] #111 closed, assigned to nobody

[2022-11-24 07:54] danmarsden commented on #111
Thanks for the PR! - I've cherry-picked that to the branches that support 3.9 and higher.